@import '../styles/assembly.scss';

.KVP {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  border-radius: 50rem;
  .KVPKey {
    background-color: hsv(0, 0%, 90%);
    font-weight: bolder;
    padding-inline-end: $spacer / 2;
  }
  .KVPValue {
    background-color: hsv(0, 0%, 95%);
    padding-inline-start: $spacer / 2;
  }
}