@import '../styles/assembly.scss';

@mixin nav-flex() {
  display: flex;
  flex-direction: column;
}

.nav-menu {

  .nav {
    @include nav-flex();
  }
  
  $padding-nav-item: $spacer / 2;
  padding-inline-start: $padding-nav-item;

  .nav-item {
    color: $surface-color;
    font-size: 12pt;
    line-height: 1;
    padding: $padding-nav-item;
    margin-inline-start: calc($padding-nav-item * -1);
    transition: all 100ms;
    &:hover {
      background-color: $surface-light;
      color: $white;
      text-decoration: none;
    }
    &.active {
      background-color: $primary;
      color: $black;
      font-weight: 700
    }
  }
  .nav-group {
    @include nav-flex();
    border-left: 1px solid $surface-light;
    padding-inline-start: $spacer;
  }
}