//
// Variables
//


// Colors

$primary: hsl(240, 90%, 50%);
$white: hsl(0, 0%, 99%);
$black: hsl(0, 0%, 1%);
$light: hsl(200, 100%, 100%);
$dark: hsl(200, 100%, 20%);

$body-bg: $white;
$body-color: $black;


// Font

$fs: 12pt;
$fw: 400;
$fw-bold: 700;

$line-height: 1.5;


// Headings

$h1-font-size: 48pt;
$h2-font-size: 42pt;
$h3-font-size: 36pt;
$h4-font-size: 30pt;
$h5-font-size: 24pt;
$h6-font-size: 18pt;


// Spacing

$spacer: 1rem;
