//
// Variables
//


// Colors

$body-bg: hsv(0, 0%, 100%);
$primary: hsv(240, 90%, 100%);


// Font

$font-size: 12pt;
$line-height: 1.15;


// Headings

$h1-font-size: 48pt;
$h2-font-size: 42pt;
$h3-font-size: 36pt;
$h4-font-size: 30pt;
$h5-font-size: 24pt;
$h6-font-size: 18pt;


// Spacing

$spacer: 1rem;
