//
// Variables
//


// Colors

$white: hsl(0, 0%, 99%);
$black: hsl(0, 0%, 1%);

$primary: hsl(40, 100%, 50%);
$light: hsl(200, 100%, 100%);
$dark: hsl(200, 100%, 20%);

$surface: hsl(0, 3, 13);
$surface-dark: hsl(0, 3, 8);
$surface-light: hsl(0, 3, 18);

$surface-color: hsl(0, 3, 90);
$surface-link: hsl(190, 60%, 50%);

$body-bg: $white;
$body-color: $black;


// Font

$fs: 14pt;
$fw: 400;
$fw-bold: 700;

$line-height: 1.5;


// Headings

$h1-font-size: 48pt;
$h2-font-size: 42pt;
$h3-font-size: 36pt;
$h4-font-size: 30pt;
$h5-font-size: 24pt;
$h6-font-size: 18pt;


// Spacing

$spacer: 1rem;


// Layout Header
$header-height: 64px;